/*header styles*/

.header-wrapper {
    width: 1220px;
    height: 65px;
    display: flex;
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 53px;
    align-items: center;
    background: #FFFFFF;
    
}
.nav-container {
    display: flex;
    width: 601px;
    justify-content: space-between;
    font-family: 'Inter';
    font-size: 18px;
}
.button-wrapper {
    position: absolute;
    right: 0px;
    padding: 21px 35px;
    background-color: #6B77E5;
}
.button-text {
    font-family: 'Cabin';
    font-size: 18px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}
.mainlogo {
    Width: 200px;
    Height:38px;
    margin-right: 195px;
}

/* process section*/
.process-section-container {
    Width: 1220px;
    display: flex;
    flex-direction: column;
    margin: 254px auto 0 auto;
    align-items: center;
    margin-bottom: 35px;
    
}
.process-headings-container {
    Width: 283px;
    margin-bottom: 41px;
}
.heading1 {
    color: #37393F;
    font-family: 'Inter';
    font-size: 18px;
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
}
.heading2 {
    color: #37393F;
    font-size: 40px;
    font-family: 'Poppins';
    font-weight: 700;
    }
.grey-box-container {
    background: #F4F4F4;
    padding: 58px 43px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.greybox-title {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 16px;
    text-align: center;
}
.greybox-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #7D7D7D;
    text-align: center;
    line-height: 146.19%;
    margin-bottom: 37px;
}
.testimonials {
    color: #6B77E5;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}
.icon-wrapper {
    Width: 72px;
    height: 72px;
    background: #40DDB6;
    border-radius: 50%;
    position: relative;
}
.icon {
    position: absolute;
    width: 43px;
    height: 43px;
    z-index: 100;
    top: 14.5px;
    right: 14.5px;
   
}
.icon-wrapper2 {
    background: #6B77E5;
}
.greyboxes {
    display: flex;
    justify-content:space-between;
    gap: 31px;
}
/* video section*/

.section-container {
    width: 100%;
    height: 557px;
    background: red;
    margin: 0 auto;
    position: relative;
    margin-bottom: 30px;
}
.video-image {
    width: 100%;
    height: 100%;
}
.image-text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    Width: 511px;
}
.video-heading1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #37393F;
    margin-bottom: 16px;
}
.video-heading2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #37393F;
    margin-bottom: 21px;
}
.video-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #37393F;
    text-align: center;
    margin-bottom: 47px;
}
.video-button-container {
    background:#6B77E5;
    Width: 64.5px;
    height: 64.5px;
    border-radius: 50%;
    position: relative;
}
.video-arrow {
    position: absolute;
    left: 23.21px;
    top: 17.11px;

}



    